@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.swiper-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #ddd; }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%; }

.banner-inner-item {
  height: 100%;
  background-position: center;
  background-size: cover; }

html, body {
  overflow: hidden;
  height: 100%; }

body {
  position: relative;
  font-family: PingFangSC-Regular;
  font-family: '微软雅黑';
  box-sizing: border-box; }

.logo {
  position: fixed;
  top: 44px;
  right: 300px;
  width: 61px;
  height: 24px;
  font-size: 22px;
  color: #ea5514;
  line-height: 24px;
  padding-left: 34px;
  z-index: 99999; }
  .logo i {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 74px;
    height: 22px;
    background-image: url(../images/logo@2x.png);
    background-size: 74px 22px;
    background-repeat: no-repeat; }

.menu-list {
  position: fixed;
  top: 40px;
  right: 100px;
  z-index: 99999; }
  .menu-list > ul li {
    float: left;
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 22px;
    user-select: none; }
    .menu-list > ul li a {
      display: block;
      height: 30px;
      background-image: url(../images/menu_icon@2x.png);
      background-repeat: no-repeat;
      background-size: 150px 71px; }
      .menu-list > ul li a:hover + span {
        opacity: 1; }
    .menu-list > ul li span {
      position: absolute;
      top: 36px;
      left: 50%;
      margin-left: -16px;
      width: 32px;
      height: 18px;
      line-height: 18px;
      border-radius: 2px;
      text-align: center;
      background: rgba(0, 0, 0, 0.5);
      font-size: 13px;
      color: #fff;
      opacity: 0;
      transition: 0.3s;
      z-index: -9; }
      .menu-list > ul li span.span-4 {
        width: 60px;
        margin-left: -30px; }

#navMenu1 a {
  background-position: 0px 0px; }
  #navMenu1 a:hover, #navMenu1 a.selected {
    background-position: 0px -40px; }

#navMenu2 a {
  background-position: -40px 0px; }
  #navMenu2 a:hover, #navMenu2 a.selected {
    background-position: -40px -40px; }

#navMenu3 a {
  background-position: -80px 0px; }
  #navMenu3 a:hover, #navMenu3 a.selected {
    background-position: -80px -40px; }

#navMenu4 a {
  background-position: -120px 0px; }
  #navMenu4 a:hover, #navMenu4 a.selected {
    background-position: -120px -40px; }

.section {
  position: relative; }
  .section .wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box; }

.section1 .wrap-right {
  position: absolute;
  bottom: 50px;
  right: 100px;
  width: 200px;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: -9;
  opacity: 0;
  transition: 0.2s; }
  .section1 .wrap-right.active {
    right: 0px;
    bottom: 0px;
    width: 50%;
    height: 100%;
    opacity: 1;
    z-index: 999; }
    .section1 .wrap-right.active p {
      transition-delay: 0.3s; }
    .section1 .wrap-right.active .item-detail {
      opacity: 1;
      transition-delay: 0.2s; }
  .section1 .wrap-right .item-detail {
    position: absolute;
    top: 26%;
    left: 66px;
    right: 144px;
    bottom: 80px;
    color: #fff;
    opacity: 0;
    transition: 0.2s; }
    .section1 .wrap-right .item-detail h2 {
      height: 30px;
      line-height: 30px;
      font-size: 22px;
      position: relative; }
      .section1 .wrap-right .item-detail h2 span {
        position: absolute;
        left: -40px;
        top: 3px;
        width: 24px;
        height: 24px;
        background-image: url(../images/xmjs2.png);
        background-size: 24px 24px;
        cursor: pointer; }
        .section1 .wrap-right .item-detail h2 span:hover {
          background-image: url(../images/xmjs2_hover.png); }
    .section1 .wrap-right .item-detail h3 {
      display: inline-block;
      opacity: 0.2;
      line-height: 22px;
      padding-bottom: 4px;
      border-bottom: 1px solid #fff;
      font-size: 16px;
      margin-bottom: 40px; }
    .section1 .wrap-right .item-detail p {
      line-height: 48px;
      font-size: 16px;
      font-weight: 300; }

.section1 .item-name {
  position: absolute;
  bottom: 50px;
  right: 100px;
  height: 60px;
  line-height: 60px;
  padding: 0px 30px 0px 60px;
  font-size: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  user-select: none;
  opacity: 0;
  transition: 0.3s;
  z-index: -9; }
  .section1 .item-name.active {
    opacity: 1;
    z-index: 99999; }
  .section1 .item-name i {
    position: absolute;
    left: 20px;
    top: 50%;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background-image: url(../images/xmjs1.png);
    background-size: 24px 24px; }
  .section1 .item-name:hover i {
    background-image: url(../images/xmjs1_hover.png); }

.section1 .wrap-right-2 {
  position: absolute;
  overflow: hidden;
  z-index: -9;
  opacity: 0;
  transition: 0.1s;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0; }
  .section1 .wrap-right-2.active {
    opacity: 1;
    z-index: 999; }
    .section1 .wrap-right-2.active .item-list-wrap {
      width: 100%;
      height: 100%;
      top: 0px;
      right: 0px; }
  .section1 .wrap-right-2 .item-list-wrap {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50px;
    right: 190px;
    transition: 0.2s;
    background: rgba(0, 0, 0, 0.5); }
  .section1 .wrap-right-2 .item-list {
    margin: 30px;
    overflow: hidden;
    margin-top: 160px;
    position: relative; }
    .section1 .wrap-right-2 .item-list .item-list-content {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      overflow: hidden; }
    .section1 .wrap-right-2 .item-list ul {
      overflow: hidden; }
    .section1 .wrap-right-2 .item-list li {
      float: left;
      position: relative;
      width: 162px;
      height: 162px;
      width: 33.33%;
      margin-bottom: 80px;
      overflow: hidden;
      cursor: pointer; }
      .section1 .wrap-right-2 .item-list li img {
        display: block;
        position: absolute;
        border-radius: 162px;
        width: 162px;
        height: 162px;
        top: 0px;
        left: 50%;
        margin-left: -81px; }

.section1 .item-item {
  position: absolute;
  width: 162px;
  height: 162px;
  top: 0px;
  left: 50%;
  margin-left: -81px;
  border-radius: 162px;
  overflow: hidden;
  opacity: 0;
  background: rgba(234, 85, 20, 0.7);
  transition: 0.5s; }
  .section1 .item-item:hover {
    opacity: 1; }
  .section1 .item-item h5 {
    width: 110px;
    height: 20px;
    line-height: 20px;
    margin: 28px auto 16px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    color: #fff; }
  .section1 .item-item span {
    display: block;
    width: 122px;
    margin: 0 auto;
    line-height: 18px;
    font-size: 13px;
    text-align: center;
    color: #fff; }

.section2 {
  background-image: url(../images/3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-origin: content-box; }
  .section2 .about-left {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 51%;
    height: 100px;
    text-align: center;
    font-size: 100px;
    color: #fff;
    transition: 1s;
    transform: translateX(-100px);
    opacity: 0; }
  .section2.active .about-left {
    transition-delay: 0.7s;
    transform: translateX(0px);
    opacity: 1; }
  .section2.active .about-content {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.6s; }
  .section2 .about-right {
    position: absolute;
    top: 0;
    right: 0px;
    width: 49%;
    height: 100%;
    padding-left: 72px;
    padding-right: 90px;
    box-sizing: border-box;
    background: #fff;
    overflow: hidden; }

.about-content {
  position: absolute;
  left: 72px;
  right: 100px;
  top: 15%;
  opacity: 1;
  transform: translateY(0px); }
  .about-content h3 {
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    color: #EA5514; }
  .about-content h5 {
    padding-bottom: 20px;
    font-size: 15px;
    color: #036EB8; }
  .about-content p {
    line-height: 34px;
    font-size: 14px;
    color: #333;
    margin-bottom: 50px; }
  .about-content > div {
    font-size: 22px;
    color: #036EB8;
    text-align: right; }

.wrap-center {
  position: absolute;
  left: 0px;
  top: 16%;
  bottom: 10%;
  width: 100%; }

.news-list {
  position: absolute;
  height: 100%;
  left: 50%;
  margin-left: -620px; }
  .news-list .news-item {
    width: 538px;
    height: 162px;
    border: #f90;
    box-shadow: 0px 2px 8px 0px rgba(145, 193, 226, 0.39);
    padding: 16px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid transparent;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s; }
    .news-list .news-item:hover {
      transform: translateY(-2px);
      box-shadow: 0px 5px 24px 0px rgba(145, 193, 226, 0.39); }
    .news-list .news-item.active {
      border: 1px solid #036eb8;
      box-shadow: 0px 5px 24px 0px rgba(145, 193, 226, 0.39); }
    .news-list .news-item.news-item2 {
      position: absolute;
      left: 0px;
      top: 50%;
      margin-top: -81px; }
    .news-list .news-item.news-item3 {
      position: absolute;
      left: 0px;
      bottom: 0px; }
    .news-list .news-item .img {
      width: 130px;
      height: 130px;
      background: #ccc;
      border-radius: 130px;
      overflow: hidden;
      float: left; }
      .news-list .news-item .img img {
        display: block;
        width: 100%;
        height: 100%;
        transform: scale(1); }
        .news-list .news-item .img img:hover {
          transition: 0.3s;
          transform: scale(1.1); }
    .news-list .news-item .new-info {
      overflow: hidden;
      padding-left: 8px; }
      .news-list .news-item .new-info h5 {
        font-size: 16px;
        color: #333;
        padding-top: 6px;
        padding-bottom: 8px;
        line-height: 20px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .news-list .news-item .new-info span {
        display: block;
        font-size: 12px;
        height: 16px;
        line-height: 16px;
        color: #889FB0;
        padding-bottom: 8px;
        padding-left: 22px;
        position: relative; }
        .news-list .news-item .new-info span i {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 16px;
          height: 16px;
          background-image: url(../images/tiem_icon.png);
          background-size: 20px 20px;
          background-position: -2px -2px; }
      .news-list .news-item .new-info p {
        font-size: 14px;
        line-height: 22px;
        color: #333; }

.news-detail {
  position: absolute;
  width: 626px;
  height: 100%;
  padding-top: 80px;
  left: 50%;
  overflow: hidden;
  box-sizing: border-box; }
  .news-detail .article-header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 80px;
    z-index: 99999; }
    .news-detail .article-header .article-title {
      font-size: 22px;
      margin-bottom: 20px;
      font-weight: bold;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .news-detail .article-header .article-time {
      display: block;
      font-size: 12px;
      height: 16px;
      line-height: 16px;
      padding-left: 22px;
      margin-bottom: 30px;
      color: #889FB0;
      position: relative; }
      .news-detail .article-header .article-time i {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 16px;
        height: 16px;
        background-image: url(../images/tiem_icon.png);
        background-size: 20px 20px;
        background-position: -2px -2px; }
  .news-detail .news-content {
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    overflow: hidden; }
    .news-detail .news-content img {
      width: 100%; }
    .news-detail .news-content #scroller {
      padding-right: 10px;
      box-sizing: border-box;
      position: absolute;
      z-index: 1;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      width: 100%;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-text-size-adjust: none;
      -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
      -o-text-size-adjust: none;
      text-size-adjust: none; }

.item-list-content .iScrollIndicator {
  border-color: transparent !important; }

.section3.active .news-item {
  opacity: 1; }

.loading {
  position: absolute;
  width: 162px;
  height: 162px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 81px;
  left: 50%;
  top: 0px;
  margin-left: -81px; }
  .loading i {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    background: url("../images/loading.gif"); }

.news-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  left: 0px;
  top: 0px;
  z-index: 9999999999;
  display: none; }
  .news-loading i {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    background: url("../images/loading.gif"); }

.copy-right {
  position: absolute;
  left: 0px;
  bottom: 10px;
  width: 100%;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #b3b3b3;
  text-align: center; }

/* 媒体查询 */
@media only screen and (max-width: 1200px) {
  .about-content {
    left: 36px !important;
    right: 40px !important;
    top: 12% !important; }
    .about-content p {
      margin-bottom: 40px; }
    .about-content .p-2 {
      margin-bottom: 20px; } }

@media (min-width: 1200px) and (max-width: 1300px) {
  .about-content {
    left: 44px !important;
    right: 50px !important;
    top: 12% !important; }
    .about-content p {
      margin-bottom: 40px; }
    .about-content .p-2 {
      margin-bottom: 20px; } }

@media (min-width: 1300px) and (max-width: 1400px) {
  .about-content {
    left: 58px !important;
    right: 68px !important;
    top: 13% !important; }
    .about-content p {
      margin-bottom: 40px; }
    .about-content .p-2 {
      margin-bottom: 20px; } }

@media (min-width: 1400px) and (max-width: 1500px) {
  .about-content {
    left: 60px !important;
    right: 70px !important;
    top: 14% !important; }
    .about-content p {
      margin-bottom: 40px; }
    .about-content .p-2 {
      margin-bottom: 20px; } }
