@import '../lib/reset-css/sass/_reset.scss';

body {
    position: relative;
    font-family:PingFangSC-Regular;
}

.logo {
    position: fixed;
    top: 50px;
    left: 50px;
    width:61px;
    height:30px;
    font-size:22px;
    color:rgba(234,85,20,1);
    line-height:30px;
    z-index: 99999;
}

.menu-list {
    position: fixed;
    top: 50px;
    right: 100px;
    z-index: 99999;
    &>ul {
        li {
            float: left;
            width: 24px;
            height: 24px;
            margin-left: 20px;
            background: #ccc;
            cursor: pointer;
            user-select: none;
            &:hover {
                background: #ddd;
            }
        }
    }
}

.section {
    position: relative;
    .wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}

.section1 {
    background: #4BBFC3;
}

.section2 {
    background-image: url(../images/aboutus.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-origin: content-box;
    .about-left {
        position: absolute;
        left: 0px;
        top: 50%;
        margin-top: -50px;
        width: 50%;
        height: 100px;
        text-align: center;
        font-size: 100px;
        color: #fff;
        transition: 1s;
        transform: rotate(0deg);
    }
    &.active {
        .about-left {
            transform: rotate(90deg);
            
        }
    }
    .about-right {
        position: absolute;
        top: 0;
        right: 0px;
        width: 50%;
        height: 100%;
        padding-left: 80px;
        padding-right: 100px;
        box-sizing: border-box;
        background: #fff;
        overflow-y: auto;
    }
}
.about-content {
    h3 {
        height: 40px;
        line-height: 40px;
        font-size: 22px;
        color: #EA5514;
    }
    h5 {
        padding-bottom: 30px;
        font-size: 15px;
        color: #036EB8;
    }
    p {
        line-height: 36px;
        font-size: 14px;
        color: #333;
        margin-bottom: 60px;
    }
    &>div {
        font-size: 22px;
        color: #036EB8;
        text-align: right;
    }
}

.item-name {
    position: absolute;
    bottom: 50px;
    right: 100px;
    height: 86px;
    line-height: 86px;
    padding: 0px 30px;
    font-size: 22px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    user-select: none;
}

.news-list {
    position: absolute;
    left: 50%;
    .news-item {
        width:664px;
        height:200px;
        background:rgba(255,255,255,1);
        box-shadow:0px 2px 8px 0px rgba(145,193,226,0.39);
        &.active {
            border:1px solid rgba(3,110,184,1);
        }
    }
}