@import '../lib/reset-css/sass/_reset.scss';
@import './swiper.scss';

html,body {
    overflow: hidden;
    height: 100%;
}
body {
    position: relative;
    font-family:PingFangSC-Regular;
    font-family: '微软雅黑';
    box-sizing: border-box;
}

.logo {
    position: fixed;
    top: 50px;
    left: 50px;
    width:61px;
    height:30px;
    font-size:22px;
    color:rgba(234,85,20,1);
    line-height:30px;
    padding-left: 34px;
    z-index: 99999;
    i {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 30px;
        height: 30px;
        background-image: url(../images/logo.png);
        background-size: 30px 30px;
    }
}

.menu-list {
    position: fixed;
    top: 50px;
    right: 100px;
    z-index: 99999;
    &>ul {
        li {
            float: left;
            position: relative;
            width: 30px;
            height: 30px;
            margin-left: 26px;
            user-select: none;
            a {
                display: block;
                height: 30px;
                background-image: url(../images/menu_icon.png);
                background-repeat: no-repeat;
                &:hover {
                    &+span {
                        opacity: 1;
                        //transform: translateY(0px);
                    }
                }
            }
            span {
                position: absolute;
                top: 36px;
                left: 50%;
                margin-left: -16px;
                width: 32px;
                height: 18px;
                line-height: 18px;
                border-radius: 2px;
                text-align: center;
                background:rgba(0,0,0,0.5);
                font-size: 13px;
                color: #fff;
                opacity: 0;
                transition: 0.3s;
                //transform: translateY(4px);
                z-index: -9;
                &.span-4 {
                    width: 60px;
                    margin-left: -30px;
                }
            }
        }
    }
}
#navMenu1 a{
    background-position: 0px 0px;
    &:hover, &.selected {
        background-position: 0px -40px;
    }
}
#navMenu2 a{
    background-position: -40px 0px;
    &:hover, &.selected{
        background-position: -40px -40px;
    }
}
#navMenu3 a{
    background-position: -80px 0px;
    &:hover, &.selected{
        background-position: -80px -40px;
    }
}
#navMenu4 a{
    background-position: -120px 0px;
    &:hover, &.selected{
        background-position: -120px -40px;
    }
}

.section {
    position: relative;
    .wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}

.section1 {
    .wrap-right {
        position: absolute;
        bottom: 50px;
        right: 100px;
        width: 200px;
        height: 60px;
        background:rgba(0,0,0,0.5);
        overflow: hidden;
        z-index: 999;
        opacity: 0;
        transition: 0.2s;
        &.active {
            right: 0px;
            bottom: 0px;
            width: 50%;
            height: 100%;
            opacity: 1;
            p {
                transition-delay: 0.3s;
            }
            .item-detail {
                opacity: 1;
                transition-delay: 0.2s;
            }
        }
        .item-detail {
            position: absolute;
            top: 26%;
            left: 66px;
            right: 144px;
            bottom: 80px;
            color: #fff;
            opacity: 0;
            transition: 0.2s;
            h2 {
                height: 30px;
                line-height: 30px;
                font-size: 22px;
                position: relative;
                span {
                    position: absolute;
                    left: -40px;
                    top: 3px;
                    width: 24px;
                    height: 24px;
                    background-image: url(../images/xmjs2.png);
                    background-size: 24px 24px;
                    cursor: pointer;
                    &:hover {
                        background-image: url(../images/xmjs2_hover.png);
                    }
                }
            }
            h3 {
                display: inline-block;
                opacity: 0.2;
                line-height: 22px;
                padding-bottom: 4px;
                border-bottom: 1px solid #fff;
                font-size: 16px;
                margin-bottom: 40px;
            }
            p {
                line-height: 48px;
                font-size: 16px;
                font-weight: 300;
            }
        }
    }
    .item-name {
        position: absolute;
        bottom: 50px;
        right: 100px;
        height: 60px;
        line-height: 60px;
        padding: 0px 30px 0px 60px;
        font-size: 20px;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        user-select: none;
        opacity: 0;
        transition: 0.3s;
        z-index: 9;
        &.active {
            opacity: 1;
            z-index: 99999;
        }
        i {
            position: absolute;
            left: 20px;
            top: 50%;
            width: 24px;
            height: 24px;
            margin-top: -12px;
            background-image: url(../images/xmjs1.png);
            background-size: 24px 24px;
        }
        &:hover {
            i {
                background-image: url(../images/xmjs1_hover.png);
            }
        }
    }
    .wrap-right-2 {
        position: absolute;
        overflow: hidden;
        z-index: 999;
        opacity: 0;
        transition: 0.1s;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        &.active {
            opacity: 1;
            .item-list-wrap {
                width: 100%;
                height: 100%;
                top: 0px;
                right: 0px;
            }
        }
        .item-list-wrap {
            position: absolute;
            width: 24px;
            height: 24px;
            top: 50px;
            right: 190px;
            transition: 0.2s;
            background:rgba(0,0,0,0.5);
        }
        .item-list {
            margin: 30px;
            overflow: hidden;
            margin-top: 160px;
            li {
                float: left;
                position: relative;
                width: 162px;
                height: 162px;
                //border-radius: 162px;
                width: 33.33%;
                //margin-right: 28px;
                //margin-left: 28px;
                margin-bottom: 80px;
                overflow: hidden;
                cursor: pointer;
                img {
                    display: block;
                    position: absolute;
                    border-radius: 162px;
                    width: 162px;
                    height: 162px;
                    top: 0px;
                    left: 50%;
                    margin-left: -81px;
                }
            }
        }

    }
    .item-item {
        position: absolute;
        width: 162px;
        height: 162px;
        top: 0px;
        left: 50%;
        margin-left: -81px;
        border-radius: 162px;
        overflow: hidden;
        opacity: 0;
        background:rgba(234,85,20,0.7);
        transition: 0.5s;
        &:hover {
            opacity: 1;
        }
        h5 {
            width: 110px;
            height: 20px;
            line-height: 20px;
            margin: 28px auto 16px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 16px;
            color: #fff;
        }
        span {
            display: block;
            width: 122px;
            margin: 0 auto;
            line-height: 18px;
            font-size: 13px;
            text-align: center;
            color: #fff;
        }
    }
}

.section2 {
    background-image: url(../images/3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-origin: content-box;
    .about-left {
        position: absolute;
        top: 50%;
        margin-top: -50px;
        width: 51%;
        height: 100px;
        text-align: center;
        font-size: 100px;
        color: #fff;
        transition: 1s;
        transform: translateX(-100px);
        opacity: 0;
    }
    &.active {
        .about-left {
            transition-delay: 0.7s;
            transform: translateX(0px);
            opacity: 1;
            
        }
        .about-content {
            opacity: 1;
            transform: translateY(0px);
            transition-delay: 0.6s;
        }
    }
    .about-right {
        position: absolute;
        top: 0;
        right: 0px;
        width: 49%;
        height: 100%;
        padding-left: 72px;
        padding-right: 90px;
        box-sizing: border-box;
        background: #fff;
        overflow: hidden;
    }
}
.about-content {
    position: absolute;
    left: 72px;
    right: 100px;
    top: 15%;
    opacity: 1;
    //transition: 0.5s;
    transform: translateY(0px);
    h3 {
        height: 40px;
        line-height: 40px;
        font-size: 22px;
        color: #EA5514;
    }
    h5 {
        padding-bottom: 20px;
        font-size: 15px;
        color: #036EB8;
    }
    p {
        line-height: 34px;
        font-size: 14px;
        color: #333;
        margin-bottom: 50px;
    }
    &>div {
        font-size: 22px;
        color: #036EB8;
        text-align: right;
    }
}

.wrap-center {
    position: absolute;
    left: 0px;
    top: 16%;
    bottom: 10%;
    width: 100%;
}

.news-list {
    position: absolute;
    height: 100%;
    left: 50%;
    margin-left: -620px;
    .news-item {
        width:538px;
        height: 162px;
        border: #f90;
        box-shadow:0px 2px 8px 0px rgba(145,193,226,0.39);
        padding: 16px;
        box-sizing: border-box;
        cursor: pointer;
        border: 1px solid transparent;
        opacity: 1;
        transform: translateY(0px);
        transition: 0.5s;
        &:hover {
            
            transform: translateY(-2px);
            box-shadow:0px 5px 24px 0px rgba(145,193,226,0.39);
        }
        &.active {
            border:1px solid rgba(3,110,184,1);
            box-shadow:0px 5px 24px 0px rgba(145,193,226,0.39);
        }
        &.news-item2 {
            position: absolute;
            left: 0px;
            top: 50%;
            margin-top: -81px;
        }
        &.news-item3 {
            position: absolute;
            left: 0px;
            bottom: 0px;
        }
        .img {
            width: 130px;
            height: 130px;
            background: #ccc;
            border-radius: 130px;
            overflow: hidden;
            float: left;
            img {
                display: block;
                width: 100%;
                height: 100%;
                transform: scale(1);
                &:hover {
                    transition: 0.3s;
                    transform: scale(1.1);
                }
            }
           
        }
        .new-info {
            overflow: hidden;
            padding-left: 8px;
            h5 {
                font-size: 16px;
                color: #333;
                padding-top: 6px;
                padding-bottom: 8px;
                line-height: 20px;
                font-weight: bold;

            }
            span {
                display: block;
                font-size: 12px;
                height: 16px;
                line-height: 16px;
                color: #889FB0;
                padding-bottom: 8px;
                padding-left: 22px;
                position: relative;
                i {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 16px;
                    height: 16px;
                    background-image: url(../images/tiem_icon.png);
                    background-size: 20px 20px;
                    background-position: -2px -2px;
                }
            }
            p {
                font-size: 14px;
                line-height: 22px;
                color: #333;
            }
        }
    }
}
.news-detail {
    position: absolute;
    width: 626px;
    height: 100%;
    padding-top: 90px;
    left: 50%;
    overflow: hidden;
    box-sizing: border-box;
    .article-header {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 90;
        background: #ddd;
        .article-title {
            font-size: 22px;
            margin-bottom: 20px;
            font-weight: bold;
            color: #333;
        }
        .article-time {
            display: block;
            font-size: 12px;
            height: 16px;
            line-height: 16px;
            padding-left: 22px;
            margin-bottom: 30px;
            color: #889FB0;
            position: relative;
            i {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 16px;
                height: 16px;
                background-image: url(../images/tiem_icon.png);
                background-size: 20px 20px;
                background-position: -2px -2px;
            }
        }
    }
    #scroller {
        padding-right: 10px;
        box-sizing: border-box;
        position: absolute;
        z-index: 1;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        width: 100%;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;
        
        .news-content {
            font-size: 14px;
            color: #333;
            line-height: 20px;
            img{
                width: 100%;
            }
        }
    }
}

.section3 {
    &.active {
        .news-item {
            opacity: 1;
        }
    }
}


/* 媒体查询 */
@media only screen and (max-width: 1200px)
{
    .about-content
    {
        left: 36px!important;
        right: 40px!important;
        top: 12%!important;
        p {
            margin-bottom: 40px;
        }
        .p-2 {
            margin-bottom: 20px;
        }
    }
}

@media  (min-width:1200px) and (max-width: 1300px)
{
    .about-content
    {
        left: 44px!important;
        right: 50px!important;
        top: 12%!important;
        p {
            margin-bottom: 40px;
        }
        .p-2 {
            margin-bottom: 20px;
        }
    }
}
@media  (min-width:1300px) and (max-width: 1400px)
{
    .about-content
    {
        left: 58px!important;
        right: 68px!important;
        top: 13%!important;
        p {
            margin-bottom: 40px;
        }
        .p-2 {
            margin-bottom: 20px;
        }
    }
}
@media  (min-width:1400px) and (max-width: 1500px)
{
    .about-content
    {
        left: 60px!important;
        right: 70px!important;
        top: 14%!important;
        p {
            margin-bottom: 40px;
        }
        .p-2 {
            margin-bottom: 20px;
        }
    }
}